<!--Admin Navbar is shown only to logged-in admins. Contains all of the buttons that helps the admin navigate quickly on the website-->
<!--Buttons displayed: view all users, manage reviews, view transactions, view all books, response to users messages, logout-->


<div ng-controller="navbarController">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" id="mynavbarbrand"><img src="logoz.png" ng-click="newpath('landingPage.html')" id="navbar-brand" alt="ebookids" style="width:70px; height:45px"></a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#" ng-click="newpath('users.html')">View All Users <span class="sr-only">(current)</span></a></li>
        <li><a href="#" ng-click="newpath('manageReviews.html')">Manage Reviews</a></li>
        <li><a href="#" ng-click="newpath('transactions.html')">View Transactions</a></li>
        <li><a href="#" ng-click="SetAgeRange(0)">View All Books</a></li>
		<li><a href="#" ng-click="newpath('adminHelpMe.html')">Help Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ng-click="newpath('welcome.html'); setNav('NavBarLogin.html')" >Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
 </div>
