<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BooksForAll</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>com.eBooks.registrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>booksServlet</servlet-name>
    <servlet-class>com.eBooks.booksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>booksServlet</servlet-name>
    <url-pattern>/booksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.eBooks.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bookDisplayServlet</servlet-name>
    <servlet-class>com.eBooks.bookDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookDisplayServlet</servlet-name>
    <url-pattern>/bookDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reviewsServlet</servlet-name>
    <servlet-class>com.eBooks.reviewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviewsServlet</servlet-name>
    <url-pattern>/reviewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myBooksServlet</servlet-name>
    <servlet-class>com.eBooks.myBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myBooksServlet</servlet-name>
    <url-pattern>/myBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>paymentServlet</servlet-name>
    <servlet-class>com.eBooks.paymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentServlet</servlet-name>
    <url-pattern>/paymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageReviewsServlet</servlet-name>
    <servlet-class>com.eBooks.manageReviewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageReviewsServlet</servlet-name>
    <url-pattern>/manageReviewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userDetailsServlet</servlet-name>
    <servlet-class>com.eBooks.userDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userDetailsServlet</servlet-name>
    <url-pattern>/userDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usersServlet</servlet-name>
    <servlet-class>com.eBooks.usersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersServlet</servlet-name>
    <url-pattern>/usersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>readBookServlet</servlet-name>
    <servlet-class>com.eBooks.readBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readBookServlet</servlet-name>
    <url-pattern>/readBookServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>adminHelpMeServlet</servlet-name>
    <servlet-class>com.eBooks.adminHelpMeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminHelpMeServlet</servlet-name>
    <url-pattern>/adminHelpMeServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>helpMeServlet</servlet-name>
    <servlet-class>com.eBooks.helpMeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helpMeServlet</servlet-name>
    <url-pattern>/helpMeServlet</url-pattern>
  </servlet-mapping>
  
 
  
  <context-param>
    <param-name>DB_DATASOURCE</param-name>
    <param-value>java:comp/env/jdbc/ExampleDatasource</param-value>
  </context-param>
  <context-param>
    <param-name>DB_NAME</param-name>
    <param-value>ExampleDB</param-value>
  </context-param>
  <resource-ref>
    <description>Example Database Open</description>
    <res-ref-name>jdbc/ExampleDatasourceOpen</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>Example Database Shutdown</description>
    <res-ref-name>jdbc/ExampleDatasourceShutdown</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>